
<!DOCTYPE html>
<html>
<body>

<div class="row">
  <div class="col-3 col-s-3 menu">
  </div>
  <div class="col-6 col-s-9">
    <h1>The Demo video</h1>
    <p>This is a demo video taken from you tube.</p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe autoplay loop class="embed-responsive-item"  src="http://localhost:5000/video?name=youtube-IPS.mp4" allowfullscreen></iframe>
       <!-- src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" -->
      </div>
  </div>
  <div class="col-3 col-s-12">
  </div>
</div>

<div class="footer">
  <p>Resize the browser window to see how the content respond to the resizing.</p>
</div>

</body>
</html>


